# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage

# IDE & OS files
.vscode/
.idea/
.DS_Store

# LocalStack dynamic data (if created locally)
.localstack/

# LocalStack dynamic data & cache
.localstack/
.localstack_data/
*.pem

# Environment variables
.env
.env.*

# Python caches
__pycache__/
*.pyc
.pytest_cache/

# LocalStack dynamic state and data
.localstack_data/
.localstack/
.env
